.header {
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0px;
  text-align: center;
  background-color: mediumblue;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

.navBar {
  padding: 0px;
  position: fixed;
  width: 100%;
  top: 75px;
  text-align: center;
  background-color:cadetblue;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}

.logout {
  right: 100px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}